@(display:models.user.User)
@import helper._

@main("Welcome to Timesheet") {
	<div class="container">
		<div class="heading">
		
		@helper.form(routes.Application.login){
				
					<br>
					<br>
					<br>
					<fieldset id="login_field" class="right-align" style="width:35%;margin-top:70px;">
					
				
								<div class="well" style="width:100%;">
									<h3>Please Check your Inbox for your User Name and Password</h3>
									
			        			    <p>
			           				 	<button type="submit" class="btn btn-success" style="margin-left:185px;">Go To Login</button>
			           			   </p>
		       			  	 </div>
			</fieldset>
			}
		</div>
	</div>	
}		