.nav>li>a,.nav>li>p{
	color: #f4995d;
}

.show-link{background:url("../images/custom/show.png") no-repeat; padding:14px; padding-top:1px; margin-left:10%;}

.customTextArea{
	width: 500px !important;
	height: 120px !important;
}

[required]:FOCUS {
    border-color: rgba(82, 168, 236, 0.8) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6) !important;
}
