@(_menuContext: dto.MenuBar,user : models.user.User)

@main("Role Permissions") {

	<div id="role_permission_search_accordion">
	@menuContext(_menuContext,user)
	<h4 class="heading"><i>Manage Role Permissions :</i></h4>
	<div class="searchContainer">
		<div id="searchRolePermission" class="well form-inline" >
	
			<table>
				<tr>
					<td><input type="text" id="role_name" placeholder="Role Name" class="input-medium search-query" /></td>
					<td><input type="text" id="role_description" placeholder="Role Description" class="input-medium search-query"/></td>
					<td><button name="Search" class="btn" id="role_permission_search" >Search</button></td>
				</tr>
			</table>
		</div>
		
		<div id="permissionSearchResult">
				@views.html.userPermission.roleSearchPermission()
		</div>
	</div>
	</div>
}
