@(_searchContext:com.mnt.core.helper.SearchContext)

<div class="wizard" id='@(_searchContext.entityName + "_some-wizard")'>
 
			@style = @{""}
		    <h1></h1>
		    @for(wizard<-_searchContext.getWizards){
		    	<div class="wizard-card" data-cardname="@(_searchContext.entityName + wizard.name)" data-validate='@("form_"+_searchContext.entityName + "_add_wizard")'>
		        	<h3>@wizard.name</h3>
		        		@for(fieldType<-wizard.card.iterator){
		        			
							@fieldType.ctype.name match{
		        			
								case "INPUT" => {
									@if(!fieldType.hidden){
										@if(!fieldType.autocomplete && !fieldType.multiselect){
											@if(fieldType.order % 2 == 1){
		        								<div class="control-group" style="float:left;width:46%;margin: 0px; height:75px;">
		        							}else{
		        								<div class="control-group" style="height:75px;" >
		        							}
											  <label class="control-label" for="textinput">@fieldType.label
												  @if(fieldType.validation !=null && fieldType.validation.required){
												  	<sup style="color: red"> *</sup>
												  }
											  </label>
											  <div class="controls">
											  @if(fieldType.validation !=null && fieldType.validation.required){
											  	<input id="@(_searchContext.entityName + fieldType.name)" name="@fieldType.name" placeholder="@fieldType.label" @fieldType.htmlAttrib required class="input-large" type="text" rel="popover" >
											  }else{
											    <input id="@(_searchContext.entityName + fieldType.name)" name="@fieldType.name" placeholder="@fieldType.label" @fieldType.htmlAttrib class="input-large" type="text">
											  }
											    
											  </div>
											</div>
										}else{
											
											  @if(fieldType.order % 2 == 1){
		        								<div class="control-group" style="float:left;width:46%;margin: 0px; height:75px;">
		        								}else{
		        								<div class="control-group" style=" height:75px;">
		        							  }	
											  <div class="fuelux controls">
												   <label class="control-label" for="textinput">@fieldType.label
													  @if(fieldType.validation !=null && fieldType.validation.required){
													  	<sup style="color: red"> *</sup>
													  }
													  <img alt="" src="@routes.Assets.at("images/browse.jpg")">
												  </label>
												  @if(fieldType.validation !=null && fieldType.validation.required){
											    		<input id="@(_searchContext.entityName + fieldType.name)" placeholder="@fieldType.label" @fieldType.htmlAttrib placeholder="@fieldType.name"  required type="text">
											      }else{
											      		<input id="@(_searchContext.entityName + fieldType.name)" placeholder="@fieldType.label" @fieldType.htmlAttrib placeholder="@fieldType.name"   type="text">
											      }
											      
											      @if(fieldType.multiselect){
											    	<input id='@(_searchContext.entityName + fieldType.name +"_hidden")' placeholder="@fieldType.label" name='@(fieldType.name + "_ids")'  type="hidden">
											      }else{
											    	<input id='@(_searchContext.entityName + fieldType.name +"_hidden")' placeholder="@fieldType.label" name='@(fieldType.name + "_id")'  type="hidden">
											      
											      }
											    
					  							
											  </div>
											</div>
											<script>
											$('#@(_searchContext.entityName + fieldType.name)').select2({
												placeholder: "Search",
												minimumInputLength: 2,
												multiple:@fieldType.multiselect,
											    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
											        url: "@(_searchContext.autoCompleteUrls.get(fieldType.label))",
											        dataType: 'json',
											        data: function (term, page) {
											            return {
											                query: term, // search term
											                param: function(){
											                	if(typeof(@(_searchContext.entityName + fieldType.name)_customParameterBuilder) == "function"){
											                		return @(_searchContext.entityName + fieldType.name)_customParameterBuilder();
											                	}else{
											                		return "";
											                	}
											                },
											                page_limit: 10
											            };
											        },
											        results: function (data, page) { // parse the results into the format expected by Select2.
											            // since we are using custom formatting functions we do not need to alter remote JSON data
											            return {results: data.results};
											        }
											    },
											    formatResult: function(exercise) { 
											        return "<div class='select2-user-result'>" + exercise._1 + "</div>"; 
											    },
											    formatSelection: function(result) { 
											    	return result._1; 
											    }
											}).on('change',function(ev){
												$('#'+'@(_searchContext.entityName + fieldType.name +"_hidden")').val(ev.val);
											});
											
											</script>
										}
									}else{
											<input id="@(_searchContext.entityName + fieldType.name)" name='@(fieldType.name + "_hidden")' type="hidden">
									}
								}
								case "SELECT_OPTION" => {
									@if(fieldType.order % 2 == 1){
		        								<div class="control-group" style="float:left;width:46%;margin: 0px; height:75px;">
		        							}else{
		        								<div class="control-group" style="height:75px;" >
		        							}
									  <label class="control-label" for="selectbasic">@fieldType.label</label>
									  <div class="controls">
									    <select id="@(_searchContext.entityName + fieldType.name)" name="@fieldType.name" class="input-large">
										    @for(option<-fieldType.options){
										    	@if(option.uiHidden==false){
										    		<option value='@option'>@option.getName</option>
										    	}
										    }	
									      
									    </select>
									  </div>
									</div>
								}
								case "SEARCH" => {
									<div class="control-group">
									  <label class="control-label" for="selectbasic">@fieldType.label</label>
									  <div class="controls">
									    @searchContext(_searchContext.getSearchContexts.get(fieldType.name),(_searchContext.entityName),"add") 	
									   
									   </div>
									   <input class="OneToMany" entity='@(_searchContext.entityName)' id='@(_searchContext.entityName + fieldType.name +"_hidden")' name='@(fieldType.name + "_ids")'  type="hidden">
											    
									</div>
									
								}
								case "DATE" => {
									@if(fieldType.order % 2 == 1){
		        								<div class="control-group" style="float:left;width:46%;margin: 0px; height:75px;">
		        							}else{
		        								<div class="control-group" style="height:75px;">
		        							}
									  	<label class="control-label" for="selectbasic">@fieldType.label
									  	 @if(fieldType.validation !=null && fieldType.validation.required){
												  	<sup style="color: red"> *</sup>
										 }
										</label>
										<div id="@(fieldType.name)" data-provide="datepicker" data-date="" class="input-prepend date datepicker" data-date-format="dd-mm-yyyy">
	    									<span class="add-on"><i class="icon-calendar"></i></span>
	    									<input class="add-on" size="16" type="text" value=""  placeholder="DD-MM-YYYY"  name="@(fieldType.name)">
										</div>
									</div>
								}
							}
		        		}
		    	</div>
		    	
		    }
		     <div class="wizard-success">
        			@(_searchContext.entityName + " Created Successfully")
    		</div>
 
		    <div class="wizard-error">
		        submission had an error
		    </div>
 
		    <div class="wizard-failure">
		        submission failed
		    </div>
		 
</div>

<script>
var @("form_"+_searchContext.entityName + "_add_wizard_validate");
function @("form_"+_searchContext.entityName + "_add_wizard")(){
	return $('#@("form_"+_searchContext.entityName + "_add-wizard")').valid();
}

function @("form_"+_searchContext.entityName + "_add_wizard_reset")(){
	
	@("form_"+_searchContext.entityName + "_add_wizard_validate").resetForm();
	$(".error").removeClass("error");
	document.getElementById('@("form_"+_searchContext.entityName + "_add-wizard")').reset();
}
$(document).ready(function(){
	

 @("form_"+_searchContext.entityName + "_add_wizard_validate") = $('#@("form_"+_searchContext.entityName + "_add-wizard")').validate({
	//errorElement:"", 
	rules: {
	    	 @for(wizard<-_searchContext.getWizards){
	    		 @for(fieldType<-wizard.card.iterator){
	    			 @if(fieldType.validation !=null ){
		    			 	 @(fieldType.name) :{
			    				 minlength: @fieldType.validation.minlength,
			    				 required : @fieldType.validation.required,
			    				 email: @fieldType.validation.email,
			    				 maxlength: @fieldType.validation.maxlength,
			    				 date: @fieldType.validation.date,
			    				 digits: @fieldType.validation.digits,
								 @if(!"".equals(fieldType.validation.remote)){
									 remote: {
										 url: '@fieldType.validation.remote',
										 type: "post",
										 data:{
											 q: function(){
												return $('#@(_searchContext.entityName + fieldType.name)').val(); 
											 }
												 
										 }
									 },
								 }
		    			 		 number: @fieldType.validation.number
							 
			    			 },
		    			 
		    			 
	    		 	}
	    		 }
	    	 }
    	 },
    	 messages: {
    	 	@for(wizard<-_searchContext.getWizards){
    		 @for(fieldType<-wizard.card.iterator){
    			 @if(fieldType.validation !=null ){
    				 @if(!fieldType.validation.messages.equals("")){
	    				 @fieldType.name :  '@fieldType.validation.messages',
    				 }
	    		 }
    		  }
    		 }
    	 },
    			 
        
    
    highlight: function (element) {
        $(element).closest('.control-group').removeClass('success').addClass('error');
    },
    success: function(element) {
        element
        .addClass('valid')
        .closest('.control-group').removeClass('error').addClass('success');
      }
});

})
</script>
