@(feedbackForm: Form[models.feedback.Feedback],user : models.user.User)

@import helper._
@import helper.twitterBootstrap._

<style>
	#custom-modal-container{
		width: 580px !important;
		left: 50% !important;
	}

	.formClass{
		padding: 0 30px;
	}
	
	.modal-footer{
		padding: 15px 15px 5px !important;
		text-align: left;
		background-color: none !important;
		margin-top: 15px;
	}
	
</style>

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4>Feedback For @user.firstName @user.lastName</h4>
</div>

@helper.form(action = routes.Feedbacks.create, 'id -> "createFeedbackForm",  'class -> "formClass", 'enctype -> "multipart/form-data") {
	
	<input type="hidden" value="@user.id" name="employeeID">
	<br>
	@textarea(
		feedbackForm("feedback"),
		args = '_label -> "Remark",
		'placeholder -> "Provide your valuable feedback here.",
		'class -> "customTextArea"
	)
	
	@select(
		feedbackForm("rating"),
		options(controllers.Feedbacks.getRatingOptions()),
		args = '_label -> "Rating", 
		'class -> "largeInput"
	)
	
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Cancel</a> 
		<a href="#" class="btn btn-primary" id="feedbackSubmitBtn">Submit</a>
	</div>	
}

<script>
	$("#feedbackSubmitBtn").click(function(){
		$.post("/submitFeedback",$('#createFeedbackForm').serialize(), function(response) {
			$('#custom-modal-container').modal('hide');
			$.pnotify({
				history:false,
		        text: response
		    });
		});
	});
</script>